doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0")
        title Document
        link(rel="stylesheet" href="http://localhost:3001/weui.css")
        link(rel="stylesheet" href="http://localhost:3001/styles.css")
        script(src="http://localhost:3001/zepto.min.js")
    body
    #content
    script(src="http://localhost:3001/vendor.js")
    script(src="http://localhost:3001/bundle.js")